*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild

# Keystore files
*.jks

signing.properties

# never commit .tar files in root, might be unencrypted file
/*.tar
*.~vsdx
